fastapi
uvicorn[standard]
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
google-auth
pdfplumber
PyPDF2
python-docx
python-multipart
groq
google-genai
sendgrid